<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_base}">
<head>
<title>Login</title>
<!-- 페이지의 고유 CSS -->
<th:block layout:fragment="css">
</th:block>
<!-- 페이지의 고유 스크립트 링크 -->
<th:block layout:fragment="script_link">
</th:block>
</head>

<body>
<div class="w3-main" style="margin-left:250px;">
<th:block layout:fragment="content" >
	<div class="w3-row w3-padding-64">
	  <div class="w3-container">
	    <h1>로그인</h1>
	    <div th:switch="${error}">
	    	<p>로그인에 실패하였습니다. </p>
	    	<p th:case="${sysProperty.AUTH_ERROR_ACCOUNTDISABLED } ">계정이 비활성 상태입니다. 계정 활성화 후에 다시 시도하세요.</p>
	    	<p th:case="${sysProperty.AUTH_ERROR_ACCOUNTEXPIRED } ">계정의 유효기간이 만료되었습니다.</p>
	    	<p th:case="${sysProperty.AUTH_ERROR_ACCOUNTLOCKED } ">사용제한된 계정입니다.</p>
	    	<p th:case="${sysProperty.AUTH_ERROR_CREDENTIALSEXPIRED } ">비밀번호의 유효기간이 만료되었습니다.</p>
	    	<p th:case="*">로그인ID/비밀번호가 일치하지 않습니다.</p>
	    </div>
	    <p th:if="${param.logout}" class="info">로그아웃 되었습니다!</p>
	    <form th:action="@{/auth/login}" method="post">
	      <label for="login_id">로그인ID</label>:
	      <input type="text" id="login_id" name="login_id" autofocus="autofocus" /> <br />
	      <label for="pwd">비밀번호</label>:
	      <input type="password" id="pwd" name="pwd" /> <br />
	      <label for="autologin">자동로그인(2주간 유지)</label>:
	      <input type="checkbox" id="autologin" name="autologin" /> <br />
	      <input type="submit" value="Log in" />
	    </form>
	  </div>
	</div>
	
</th:block>
</div>

<th:block layout:fragment="script_src">
<!--/* 페이지의 고유 스크립트 소스(타임리프 처리되면 사라지는 주석)  */-->
</th:block>

</body>
</html>
