<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:tlmd="https://ttallaemideul.github.io"
      layout:decorator="~{layouts/layout_base}">
<head>
<title>Admin</title>
<!-- 페이지의 고유 CSS -->
<th:block layout:fragment="css">
</th:block>
<!-- 페이지의 고유 스크립트 링크 -->
<th:block layout:fragment="script_link">
</th:block>
</head>

<body>
<div class="w3-main" style="margin-left:250px;">
<th:block layout:fragment="content" >
	<div class="w3-row w3-padding-64">
	  <div class="w3-container">
	    <h1>Admin</h1>
	    <h2>사용자관리 <span th:text="|(${totalCount}명)|">00명</span></h2>
	    <p><a href="javascript:addDummyUser();">더미 사용자 추가</a></p>
		<div class="w3-responsive">
			<table class="w3-table-all">
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>정상</th>
					<th>만료</th>
					<th>잠김</th>
					<th>암호만료</th>
					<th>등록일</th>
					<th>수정일</th>
					<th>권한</th>
				</tr>
				<tr th:each="item : ${userList}">
				  <td th:text="${item.user.login_id}">login_id</td>
				  <td th:text="${item.user.user_name}">user_name</td>
				  <td tlmd:ox="${item.user.active_yn}" class="test">active_yn</td>
				  <td tlmd:ox="${item.user.expired_yn}">expired_yn</td>
				  <td tlmd:ox="${item.user.locked_yn}">locked_yn</td>
				  <td tlmd:ox="${item.user.pwd_expired_yn}">pwd_expired_yn</td>
				  <td th:text="${item.user.reg_dt}">reg_dt</td>
				  <td th:text="${item.user.upd_dt}">upd_dt</td>
				  <td>
				  	<span th:each="role : ${item.roles}">
				  		[[${role.roleNm}]]<small th:text="|(${role.desc})|"></small><br>
				  	</span>
				  </td>
				</tr>
			</table>
		</div>
		<tlmd:paging th:attr="page=${page}, rows=${rows}, total=${totalCount}" />
	  </div>
	</div>
	
</th:block>
</div>

<th:block layout:fragment="script_src">
<!--/* 페이지의 고유 스크립트 소스(타임리프 처리되면 사라지는 주석)  */-->
<script type="text/javascript" th:inline="javascript">
function addDummyUser() {
$.ajax( /*[[@{/admin/dummyInsert}]]*/ '/#')
  .done(function(result) {
    [# th:if="${DEBUG_MODE}"]
   		console.log('success', result);
    [/]
    if(result.status==/*[[${sysProperty.RESULT_OK}]]*/ 200 ) {
    	alert(result.data.cnt + ' 더미 사용자를 추가했습니다.');
    	location.reload();
    } else {
    	alert('실패하였습니다.');
    }
  })
  .fail(function(result) {
	[# th:if="${DEBUG_MODE}"]
		console.log('fail', result);
	[/]
	alert('서버와 통신에 실패하였습니다.');
  })
}
</script>
</th:block>

</body>
</html>
