<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layouts/layout_base}">
<head>
<title>Thymeleaf Tutorial</title>
<!-- 페이지의 고유 CSS -->
<th:block layout:fragment="css">
</th:block>
<!-- 페이지의 고유 스크립트 링크 -->
<th:block layout:fragment="script_link">
</th:block>
</head>

<body>
<div class="w3-main" style="margin-left:250px;">
<th:block layout:fragment="content" >
	<div class="w3-row w3-padding-64 w3-container">
		<h1 class="w3-text-teal">H2 database sample</h1>
		<p th:text="${serverNow}">serverNow</p>
		<h2>Uers</h2>
		<div class="w3-responsive">
			<table class="w3-table-all">
				<tr>
					<th>USERID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Reg. date</th>
				</tr>
				<tr th:each="user : ${users}">
				  <td th:text="${user.USERID}">USERID</td>
				  <td th:text="${user.FIRST_NAME}">first_name</td>
				  <td th:text="${user.LAST_NAME}">last_name</td>
				  <td th:text="${user.EMAIL}">email</td>
				  <td th:text="${user.REG_DT}">reg_dt</td>
				</tr>
			</table>
		</div>
	</div>
</th:block>
</div>

<th:block layout:fragment="script_src">
<!--/* 페이지의 고유 스크립트 소스(타임리프 처리되면 사라지는 주석)  */-->
<script type="text/javascript" th:inline="javascript">
</script>
</th:block>

</body>
</html>