<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="layouts/base_fragments/frag_config :: configFragment">
<title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Powered By TtalLaeMiDeul</title>
</head>

<body>
<div th:replace="layouts/base_fragments/frag_navbar :: navbarFragment">navbar</div>

<nav th:replace="layouts/base_fragments/frag_sidebar :: sidebarFragment">sidebar</nav>

<div th:replace="layouts/base_fragments/frag_header :: headerFragment"></div>

<div class="w3-main" style="margin-left:250px;">
	<th:block layout:fragment="content" ></th:block>
	<footer th:replace="layouts/base_fragments/frag_footer :: footerFragment"></footer>
</div>

<div th:replace="layouts/base_fragments/frag_js">javascript</div>

<th:block layout:fragment="script_src">
<!-- 페이지의 고유 스크립트 소스 -->
</th:block>
</body>
</html>