<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Sidebar -->
<nav th:fragment="sidebarFragment" class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Menu</b></h4>
  <a class="w3-bar-item w3-button w3-hover-black" sec:authorize="isAnonymous()" th:href="@{/auth/login}">로그인</a>
  <a class="w3-bar-item w3-button w3-hover-black" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">로그아웃</a>
  <a class="w3-bar-item w3-button w3-hover-black" sec:authorize="isAnonymous()" th:href="@{/auth/signup}">회원가입</a>
  <a class="w3-bar-item w3-button w3-hover-black" sec:authorize="hasRole('USER')" th:href="@{/user}">내정보</a>
  <th:block sec:authorize="hasRole('ADMIN')" >
  	<h5 class="w3-bar-item"><b>Admin</b></h5>
	<a class="w3-bar-item w3-button w3-hover-black" th:href="@{/admin}">사용자관리</a>
  </th:block>
  <h5 class="w3-bar-item"><b>Database samples</b></h5>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" th:href="@{/sample/h2}">H2 database</a>
  <h5 class="w3-bar-item"><b>Thymeleaf samples</b></h5>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" th:href="@{/sample/thymeleaf(key_x='from sidebar')}">Main</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" th:href="@{/sample/thymeleaf/javascript}">javascript</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#" th:href="@{/sample/thymeleaf/basic_object}">Basic objects</a>
</nav>

</html>